@import url("http://fonts.cdnfonts.com/css/amazon-ember");

body {
  margin: 0;
  font-family: "amazon ember", sans-serif;
}

#nav-belt {
  background-color: #131921;
  padding-top: 0;
  margin: 0 0;
  width: 990px; /*när bredden var unde 986px så hoppaden adress ikonen ner under*/
  height: 60px;
}

.topnav {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #232f3e;
  font-size: 14px;
  width: 940px; /*940px bara för att det var lättast att jobba i */
  height: 39px;
  padding: 8px 9px 8px 9px;
  margin: 5px 0 6px 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #dddddd;
  justify-content: left;
  height: 50px;
}

/* 
    # är för id i html
    .är för class i html 
*/
.active {
  text-decoration: none;
  color: #ffffff;
  font: amazon ember light;
  margin-left: 5px;
}

.button {
  color: #0f1111;
  width: 112.88px;
  height: 40px;
  background-color: #cdcdcd;
  text-align: center;
}
.trestreck {
}

#searchbar {
  width: 194px;
  height: 38px;
}
/* transform: translate(182%, -216%);
   */

.footer {
  display: block;
  background-color: #131a22;
  margin-top: 300px;
  width: 940px; /*940px bara för att det var lättast att jobba i */
  height: 139.38px;
  color: #dddddd;
  text-align: center;
}
