@import url("http://fonts.cdnfonts.com/css/amazon-ember"); /* font url */

/* 
* {
  /* universal selektor som påverkar alla element 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  font-family: "amazon ember", sans-serif;
}

#nav-belt > * {
  margin: 10px;
}

#nav-belt {
  background-color: #131921;
  padding-top: 5px;
  /* padding-bottom: 5px;
  padding-left: -5%; */
  padding-right: -5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.topnav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #232f3e;
  font-size: 14px;
  width: 40%;
  height: 25px;
  padding: 7px 60% 7px 0px;
  margin: 0px 0px 0px 0px;
  /* border-style: solid; */
  /* border-color: blue; */
}

.topnav > * {
  margin: 10px;
  /* border-style: solid; */
}
.huvudbox {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
}

/* .flex-container {
 
} */

.Outer-box {
  /*   display: flex;
  justify-content: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: -350px;
  border-style: solid;
  width: 100%;

  /* grid-auto-rows: minmax(
    150px,
    auto
  ) Gör alla rader minst 150px och max auto höga 
  grid-gap: 20px; /* Definerar margin på både row och column samtidigt */
  /* justify-content: center; 
  align-content: center;
  height: 100px; */
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 23%;
  width: 23%;
  min-height: 50px;
  height: 23%; */
  /* border-style: solid; */

  outline: 0.2vw solid red;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 10px;
}

.product-card-headline {
  display: flex;
  width: 90%;
}

/*
    # är för id i html
    .är för class i html
*/
.active {
  text-decoration: none;
  color: #ffffff;
  font: amazon ember light;
  margin-left: 5px;
}

.sok-modul {
  display: flex;
  justify-content: stretch;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-radius: 4px;
}

.button {
  color: #0f1111;
  width: 112.88px;
  border-style: none;
  background-color: #cdcdcd;
  text-align: center;
  font-size: 12px;
}
/* #trestreck {
} */

#searchbar {
  flex: 1;
  /* width: 50%; */
  /* width: 194px; */
  /* height: 38px; */
}

/* transform: translate(182%, -216%);
   */

.carousel {
  width: 100%;
  border-style: solid;
}

.blue-links {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  text-decoration: none;
}

.product-card.household {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
  background-color: aqua;
  justify-content: space-between;
}

.product-card.deal {
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 10%;
  justify-content: space-between;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-self: flex-start; */
  width: 90%;
  /* height: max-content; */
  border-style: solid;
  border-color: #22131b;
}

.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 90%;
  width: 90%;
  /* height: 0px; */
  border-style: solid;
  border-color: #22131b;
}

.watch-gallery {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  border-style: solid;
  /* width: 100%; */
  /* flex-grow: 1; */
}

.bottomnav {
  background-color: #007185;
  width: 100%;
  height: 500px;
  margin-top: 300px;
}

.footer {
  display: block;
  background-color: #131a22;

  width: 100%;
  height: 139.38px;
  color: #dddddd;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat (4, 100px); /* Detta ger 4 boxar som alla är 100px */
  grid-auto-rows: minmax(
    150px,
    auto
  ); /* Gör alla rader minst 150px och max auto höga */
  grid-gap: 20px; /* Definerar margin på både row och column samtidigt */
  justify-content: center; /* Places grind in the center of hortizontal axis */
  align-content: center;
  height: 100px;
}
